.section {
    transform: translate(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
    padding: 0 !important;
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;

}

@keyframes scaleAnim {
    0%{
        transform: translateY(-100%) scaleY(0);
    }
    100%{
        transform: translateY(0) scaleY(1);
    }
}



@media screen and (max-width: 700px){
    .section {
        padding: 7rem 3rem;
    }

}

@media screen and (max-width: 970px) {
    .section {
        padding: 7rem 6rem;
    }
}

@media screen and (max-width: 1432px){
    .section {
        padding: 7rem 11rem;
    }
}

@media screen and (max-width: 600px){
    .section {
        padding: 2rem 2.5rem !important;
    }
}

