
.home__header__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}

.home__header__content .home__left__header{
    display: flex;
    align-items: center;
    position: relative;
}

.home__header__content .home__left__header .home__image__container {
    border-radius: 14px;
    height: 90%;
    width: 68%;
    margin-left: 4rem;
    background-color: black;
    transition: all 0.4s ease-in-out;
}

.home__header__content .home__left__header .home__image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
    filter: grayscale(100%);
}

.home__header__content .home__right__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
}

.home__header__content .home__right__header .home__header__name{
    font-size: 2rem;
    /* font-size: clamp(3vw,5vw,7vmin) ; */
}

.home__header__content .home__right__header .home__header__name span{
    color: green;
}

.home__header__content .home__right__header{
    margin: 1.5rem, 0;
    line-height: 2rem;
}

.home__download{
    display: flex;
    align-self: flex-start;
}

.home__btn::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.home__btn {
    border-radius: 30px;
    color: inherit;
    font-family: 600;
    position: relative;
    border: 1px solid green;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
}

.home__btn .text__btn {
    padding: 0 2rem;
}

.home__btn .icon__btn {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}